<!‐‐create.ejs‐‐>

<h2 class="col‐sm‐offset‐1">Receipt create form</h2>
<form action="/receipt/create" method="POST" class="form‐horizontal">
	<div class="form‐group">
		<label class="control‐label col‐sm‐2">Receipt ID: </label>
		<div class="col‐sm‐8">
			<input id="receipt-id" class="form‐control" name="Receipt[id]" type="text">
		</div>
	</div>
    <button class="btn btn-default col-sm-offset-2" type="submit" value="ADD">Create</button>
</form>

<script type="text/javascript" charset="utf-8">
	document.getElementById('receipt-id').value = Date.now();
</script>